@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css);

.card,
.clickedCard {
    width: 150px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5em;
    margin: 0;
    border: 1px solid white;
    transition: 0.3s ease-in-out;
}

.card {
    background: rgb(10, 10, 117);
}

.card:hover {
    background: rgb(77, 77, 161);
    transition: 0.3s ease-in-out;
}

.clickedCard {
    background: white;
}

.clickedCard:hover {
    background: lightgray;
    opacity: 0.4;
}

.number {
    font-size: 3em;
}