@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css);
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Anta&family=Bebas+Neue&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Mukta:wght@200;300;400;500;600;700;800&family=Orienta&family=Oswald:wght@200..700&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Share+Tech&family=Slackside+One&family=Unna:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.card,
.clickedCard {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5em;
    margin: 0;
    border: 1px solid white;
    transition: 0.3s ease-in-out;
}

.card {
    background: rgb(10, 10, 117);
}

.clickedCard {
    background: white;
}

.number {
    font-family: Share Tech;
    font-size: 4em;
}

@media (max-width: 500px) {

    .card,
    .clickedCard {
        width: 50px;
        height: 80px;
    }

    .number {
        font-size: 2.5em;
    }
}

@media (min-width: 500px) {

    .card,
    .clickedCard {
        width: 90px;
        height: 150px;
    }
}

@media (min-width: 550px) {

    .card,
    .clickedCard {
        width: 150px;
        height: 200px;
    }
}

@media (min-width: 1024px) {
    .card:hover {
        background: rgb(77, 77, 161);
        transition: 0.3s ease-in-out;
    }

    .clickedCard:hover {
        background: lightgray;
        opacity: 0.4;
    }

}