@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css);

.levelsSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
    height: 100vh;
    background-image: url(https://wallpapers.com/images/high/sunrise-colorful-iphone-5s-1b0mym9jgqycbkr4.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.levelsUl {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 2.5em;
}

.levelsLi {
    display: flex;
    flex-basis: 15.5%;
}
